@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Exo:300,600');

body {
  color: $color-white;
  background: $color-neutral-dark;
  font-size: 16px;
  font-family: Exo, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  appearance: none;
}

a, button {
  outline: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  &[disabled] {
    cursor: default;
  }
}
