@import './mixins';

$color-black: #090e12;
$color-white: #f0f2f0;

$color-neutral-darker: #151922;
$color-neutral-dark: #283042;
$color-neutral-normal: #3e5c76;
$color-neutral-light: #7d8491;
$color-neutral-lighter: #d4dbd6;

$color-accent-dark: #135744;
$color-accent-normal: #209775;
$color-accent-light: #30d3a5;

$color-accent-dark: #66193a;
$color-accent-normal: #a3295d;
$color-accent-light: #d14782;

$zindex-header: 500;
$zindex-side: 100;
$zindex-body: 200;

$transition_medium: 0.5s ease;
