@import 'variables';
@keyframes waveform {
  0% {
    background-position: 0 center;
  }
  100% {
    background-position: -72px center;
  }
}

.base {
  background: $color-neutral-darker;
  border-top: solid 1px lighten($color-neutral-dark, 2%);
  box-shadow: 0 4px 8px 6px rgba($color-neutral-darker, 0.7),
              inset 0 -32px 32px -16px rgba($color-black, 0.5);
}

.waveform {
  position: relative;
  opacity: 1;
  background: $color-neutral-darker;
  &,

  wave > wave {
    z-index: 3!important;
    box-shadow: inset 0 48px 48px -24px rgba($color-neutral-normal, 0.2);
    background: rgba($color-neutral-darker, 0.7);
  }
}

:global {
  .wavesurfer-region {
    z-index: 5!important;
    border-radius: 2px;
    overflow: hidden;
    background-image: linear-gradient(
      to bottom,
      rgba(255,255,255, 0.1) 0%,
      rgba(255,255,255, 0) 15%,
      rgba(255,255,255, 0) 33%,
      rgba(255,255,255, 0) 67%,
      rgba(255,255,255, 0) 85%,
      rgba(255,255,255, 0.1) 100%
    )!important;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: background $transition-medium,
                opacity $transition-medium;

    &:hover {
      z-index: 6!important;
      overflow: visible;
      border-color: currentColor;
      background-image: linear-gradient(
        to bottom,
        rgba(255,255,255, 0.3) 0%,
        rgba(255,255,255, 0.1) 15%,
        rgba(255,255,255, 0) 33%,
        rgba(255,255,255, 0) 67%,
        rgba(255,255,255, 0.1) 85%,
        rgba(255,255,255, 0.3) 100%
      )!important;
      opacity: 1.0;
      .wavesurfer-handle {
        opacity: 1.0;
      }
    }
  }
  .wavesurfer-handle {
    width: 5px!important;
    max-width: none;
    opacity: 0;

    &::before {
      display: block;
      content: " ";
      position: absolute;
      top: 50%;
      margin-top: -8px;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }

    &-start{
      left: -2px!important;
      &::before {
        left: 2px;
        border-left: 8px solid $color-white;
      }
    }

    &-end {
      left: auto!important;
      right: -2px!important;
      &::before {
        right: 2px;
        border-right: 8px solid $color-white;
      }
    }
  }
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  transition: width 0.5s linear;
  background: rgba($color-white, 0.2);
}

.waveform.isLoading {
  opacity: 0.5;
  background: url('./waveform.png') repeat-x;
  background-size: 72px 48px;
  background-position: 0 center;
  animation: waveform 3s infinite steps(36);
}

.actions {
  display: flex;
  flex-direction: row;
  padding: 7px 16px 8px;
  align-items: center;
  justify-content: center;
}

.button {
  appearance: none;
  color: $color-white;
  background: transparent;
  font-size: 20px;
  line-height: 30px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 1px solid $color-white;
  margin: 0 8px;
  padding: 0;

  &--play {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    font-size: 24px;
  }

  &[disabled] {
    opacity: 0.3;
  }
}
