@import 'variables';

.base {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  height: 48px;
  border-bottom: solid 1px lighten($color-neutral-dark, 2%);
  background: $color-neutral-dark;
  padding: 8px 16px;
  box-shadow: 0 -4px 8px 6px $color-neutral-darker, inset 0 -16px 32px 0 rgba($color-neutral-darker, 0.3);
  position: relative;
  z-index: $zindex-header;
}

.logo {
  margin: auto auto auto 0;
  font-size: 20px;
  font-weight: bold;
}

.auth {
  margin: auto 0;
}

.button {
  @include buttonColor();
  &--signIn {
    @include buttonColor();
  }
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.side,
.playlist {
  @include overflowScroll();
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  background: $color-neutral-darker;
}

.player {
  position: relative;
  z-index: $zindex-player;
  transition: margin $transition_medium;
  margin-bottom: -136px;
  &-isActive {
    margin-bottom: 0;
  }
}

.body {
  @include overflowScroll();
  flex-grow: 1;
  box-shadow: 0 0 16px 0px $color-black;
  position: relative;
  z-index: $zindex-body;
}
